
// $body-background-color: $grey-dk-300;
// $sidebar-color: $grey-dk-300;
// $border-color: $grey-dk-200;

// $body-text-color: $grey-lt-300;
// $body-heading-color: $grey-lt-000;
// $nav-child-link-color: $grey-dk-000;

// $link-color: $blue-000;
// $btn-primary-color: $blue-200;
// $base-button-color: $grey-dk-250;

// $code-background-color: $grey-dk-250;


$body-background-color: #12181b;
$sidebar-color: #12181b;
$border-color: $grey-dk-200;

$body-text-color: #b2becd;
$body-heading-color: #fff;
$nav-child-link-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$code-background-color: #22262f;
$green-400: #42b983;


